[Desktop Entry]
Type=Application
Name=Equibop
Comment=Equibop autostart script
Exec=/usr/bin/env ELECTRON_OZONE_PLATFORM_HINT=auto /usr/lib/electron40/electron /usr/lib/equibop/app.asar --ozone-platform=wayland
StartupNotify=false
Terminal=false
Icon=equibop
